<div>
  <mat-toolbar class="Barra">
    <div class="example-button-row">
         <!--<img src="https://drive.google.com/file/d/1K7xuGKdxVs4P7tfd26gU05WwuLS3ayhK/view?usp=sharing">-->
         <!--<img src="./../app/assets/images/logo_seat_white.png">-->
         <hello name="{{ name }}"></hello>
         <button mat-button>Segmento 1</button>
         <button mat-button>Segmento 2</button>
         <button mat-button>Segmento 3</button>
         <button mat-button>T4 vs T5</button>
         <button mat-button disabled>Disabled</button>
         <a mat-button href="https://www.google.com/" target="_blank">Link</a>
    </div>
  </mat-toolbar>  
</div>

<div class="content" fxLayout="row wrap" fxLayoutGap="16px grid">
  <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let num of [1,2,3]">
    <mat-card class="mat-elevation-z4" >
      <mat-card-header>
        <mat-card-title>Segmento {{num}}</mat-card-title>
      </mat-card-header>
      <!--<img mat-card-image src="./../assets/images/mountains.jpg">-->
      <mat-card-footer>
        <mat-card-actions>
          <button mat-button class="Card-button">ENTRAR</button>
        </mat-card-actions>
      </mat-card-footer>
    </mat-card>
  </div>
</div>


  