p {
  font-family: 'Courier New', Courier, monospace;
 }
 /*
.tp-section {
   display: flex;
   align-content: center;
   align-items: center;
   height: 60px;
}
.tp-margin {
   margin: 30px;
}

.mat-slider-horizontal {
   width: 300px;
}
.mat-slider-vertical {
   height: 300px;
}

.Modulo{
  background-color:#f9aa33; 
  height: 100px;
  width: 200px;
} */

mat-card-header{
  background-color:#ff6600 !important;
}

.Barra{
  height: 100%; 
  background-color:#ff6600;
}
.mat-card-footer{
  background-color: red;
}
.content { 
  padding: 16px; 
}
.content > mat-card { 
  width: 200px; 
}