p {
  font-family: 'Courier New', Courier, monospace;
}
 
.example-container .mat-form-field + .mat-form-field {
  margin-left: 10px;
}

mat-card-header{
  background-color:#ff6600 !important;
  height: 50px;
  padding-top: 10px;
  font-size: 20px;
}

.Barra{
  height: 100%; 
  background-color:#ff6600;
}

.mat-card-footer{
  text-align: center;
}

.Card-button{
   font-size: 20px;
}

.content { 
  padding: 16px; 
}

.content > mat-card { 
  width: 200px; 
}