<div>
  <mat-toolbar class="Barra">
    <div class="example-button-row">
         <!--<img src="https://drive.google.com/file/d/1K7xuGKdxVs4P7tfd26gU05WwuLS3ayhK/view?usp=sharing">-->
         <!--<img src="./../app/assets/images/logo_seat_white.png">-->
          <hello name="{{ name }}"></hello>
         <button mat-button>Segmento 1</button>
         <button mat-button>Segmento 2</button>
         <button mat-button>Segmento 3</button>
         <button mat-button>T4 vs T5</button>
         <button mat-button disabled>Disabled</button>
         <a mat-button href="https://www.google.com/" target="_blank">Link</a>
    </div>
  </mat-toolbar>  
</div>

<div class="content" fxLayout="row wrap" fxLayoutGap="16px grid">
  <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let num of [1,2,3]">
    <mat-card class="Segmentos">
      <mat-card-header>
        <mat-card-title>Segmento {{num}}</mat-card-title>
      </mat-card-header>
      <!--<img mat-card-image src="./../assets/images/mountains.jpg">-->
      <mat-card-footer>
        <mat-card-actions>
          <button mat-button class="Card-button">ENTRAR</button>
        </mat-card-actions>
      </mat-card-footer>
    </mat-card>
  </div>
</div>


<!-- <form class="example-container" [formGroup]="options" [style.fontSize.px]="getFontSize()"> -->
<form class="container" [formGroup]="options">
  <mat-form-field class="Texto" appearance="fill">
    <input matInput placeholder="Nº Orden" required>
  </mat-form-field>
  

  <mat-form-field appearance="fill">
    <mat-label>Modelo</mat-label>
    <mat-select>
      <mat-option >-- None --</mat-option>
      <mat-option value="option">SE-380</mat-option>
      <mat-option value="option">SE-382</mat-option>
      <mat-option value="option">SE-316</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">  
    <mat-label>Pieza</mat-label>
    <mat-select>
        <mat-option>-- None --</mat-option>
        <mat-option value="option">P.A.I.</mat-option>
    </mat-select>      
  </mat-form-field>
  
  
   <!-- <mat-form-field appearance="fill">
    <mat-label>Fecha</mat-label>
     <input  [value]="date.value" matInput [matDatepicker]="Calend">
     <mat-datepicker-toggle matSuffix [for]="Calend"></mat-datepicker-toggle>
     <mat-datepicker #Calend></mat-datepicker>
  </mat-form-field> 
<mat-datepicker #Calendario disabled="false"></mat-datepicker> -->

  <mat-form-field appearance="fill">
    <mat-label>Fecha</mat-label>
      <input  [value]="date.value" matInput [matDatepicker]="myPicker"  placeholder="dd/mm/aaaa">
      <mat-datepicker-toggle  matSuffix [for]="myPicker"></mat-datepicker-toggle>
      <mat-datepicker #myPicker></mat-datepicker>
  </mat-form-field>

</form>

